<!-- <a [routerLink]="['detail', id]">Details</a> -->

<!-- <button (click)="renderTable()" >Click</button> -->

<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="sortTable($event.target.value, 'title')" placeholder="Search speech">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header> title </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="author">
      <mat-header-cell *matHeaderCellDef>
        author
        <mat-form-field class="table-dropdown-sort">
          <mat-select [(value)]="authorDropDown.selected" (change)="sortTable($event.value,'author')">
            <mat-option value="">Select</mat-option>
            <mat-option *ngFor="let value of authorDropDown.values" [value]="value">
              {{ value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.author}} </mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> date </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <a (click)="editSpeech($event, row)">
          <i class="fa fa-edit"></i>
        </a>
        <span>&nbsp;</span>
        <span>&nbsp;</span>
        <span>&nbsp;</span>
        <a (click)="deleteWarningModal($event, row)">
          <i class="fa fa-trash"></i>
        </a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row-hover">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<div class="modal" id="addEditModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Modal body..
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<div #deleteModal class="modal" id="deleteModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Speech</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <p *ngIf="selectedSpeech">Are you sure you want to delete the speech titled "{{selectedSpeech.title}}".</p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="cancelDelete()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteSpeech()">Yes</button>
      </div>

    </div>
  </div>
</div>